framework: net472

source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FAKE
nuget FsCheck
nuget FsCheck.Xunit
nuget xunit.core
nuget xunit.abstractions
nuget xunit.extensibility.core
nuget xunit.extensibility.execution
nuget xunit.runner.console
nuget xunit.assert
