type project
owners
    Varon
authors 
    Varon
projectUrl
    http://github.com/Varon/FSLogger
iconUrl
    https://raw.githubusercontent.com/Varon/FSLogger/master/docs/files/img/logo.png
licenseUrl
    http://github.com/Varon/FSLogger/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2021
tags
    F# Logging
summary
    F#ing simple logger for F#.
description
    An rich, simple, and efficient purely functional micro logging library for F#.


